extends layout



block content
  
  .row(style="margin-top:15px;")
    .list-group
    table.table.table-hover.table-striped
     thead
        tr
          th 配置站点
          th 操作
      tbody
      
 
  //- script(src='/lib/socket.io/client-dist/socket.io.js')
  //- script.
  //-   $(document).ready(function(){
  //-     const socket=io();
  //-     $("#test").click(function(){
  //-       socket.emit('test', "test"
  //-       );
  //-     });
  //-   });