doctype html
html
  head
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
    
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/js/bootstrap.js')

    link(rel='stylesheet', href="/lib/bootstrap-table/dist/bootstrap-table.min.css")
    script(src='/lib/bootstrap-table/dist/bootstrap-table.min.js')
    script(src='/lib/underscore/underscore.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  body
    block content
